.form{
  position: absolute;
  top: 300px;
  left: 600px;
}
.tittle{
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  height: 100px;
  padding-top:  40px;
}
.icon{
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.search{
  width: 150px;
  border-bottom-color:2px solid pink;
  /* margin-bottom: 20px; */
}
.btnAdd{
  margin: 20px 0!important;
}
.note{
  padding-bottom: 2px;
  /* text-size-adjust: 30px; */
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 25px pink, 0 0 5px darkblue;
}
.list{
  margin-top: 10px;
  text-align: left;
  padding-left: 10px;
  color: blue;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}
ol{
  margin-top: 20px;
}
.summary{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
}
.th {
  font-weight: 700 !important;
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;

}
.tbcnt {
  width: 600px !important;
}
table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
}

 td {
  padding: 13px;
  text-align: center;
  border: 1px solid #ddd;
}
.list:hover{
  color: red;
}
.btncls:hover{
  background-color: brown!important;
}
.icon:hover{
  margin-bottom: 1.5px;
}
.btncls{
  background-color: red !important;
  color: white !important;
  width: 60px;
  margin: auto !important;
  margin-bottom: 15px!important;
}
tr:hover {background-color:#f5f5f5;}
.form{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px 20px;
  height: 350px;
  z-index: 10;
  background-color: white;
}
.btn{
  width: 60px;
  margin: auto !important;
  margin-top: 10px!important;
}
.inline{
  display: inline;
  height: 10px;
}
.form-control{
  width: 160px !important;
  margin-left: 20px !important;
  margin-bottom: 15px !important;
}
.date{
  width: 160px !important;
  margin: auto !important;
  margin-bottom: 10px !important;

}
.category{
  margin: auto !important;
  margin-bottom: 10px !important;
  width: 260px !important;
}
small{
  text-align: center!important;
  /* padding-left: 50%; */
  padding:46%;
  margin-bottom: 10px;
}
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}